main {
    display: flex;
}

.article.article--lg img {
    max-width: 130px;
}


aside li img {
    width: 120px;
}

section {
    background-color: #eeeeee;
}

aside {
    background: #eeeeee;
    margin: 10px;
}

section {
    margin: 10px;
    
}

.article__list {
	display: flex;
    flex-wrap: wrap;
}

.article {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}


.article img {
    float: left;
    margin-right: 10px;
}


.article.article--lg {
    flex-grow: 1;
}
aside {
    width: 300px;
}

main {
    flex-wrap: wrap;
}

section {flex: 1;}

.aside__inner {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

aside {
    padding: 20px;
}

.aside__inner ul {
    list-style-type: none;
    padding: 0;
}

.aside__inner ul li {
    margin: 10px 0 10px;
    display: flex;
    align-items: center;
}


.aside__inner ul li a {
    margin-left: 5px;
}

h1 {
    text-align: center;
}

aside h3 {
    text-align: center;
}

.article a {
    text-align: right;
    width: 100%;
    display: block;
}
.pages {
    text-align: center;
    background: #ffffff;
    max-width: 500px;
    border-radius: 10px;
    margin: 20px auto 20px auto;
}

.pages p {
    border: 3px solid black;
    background: #2196F3;
    display: inline-block;
    text-align: center;
    margin: 15px;
    padding: 20px;
    width: 10px;
    height: 10px;
    border-radius: 28px;
    font-size: 23px;
    line-height: 12px;
}

span {
}

.article__read-more {
    text-align: center;
}

button {
    width: 170px;
    height: 30px;
}

@media screen and (max-width: 1280px) {

    .article {
        margin: 20px 0 20px 0;
        width: 100%;
        text-align: center;
    }

    .article.article--lg img {
        width: 100%;
        float: none;
        max-width: 500px;
    }

    .article h3 {
        text-align: center;
    }

    section {
        margin: 0;
        padding: 20px;
    }

    body {
        margin: 0;
    }

    .pages p {
        padding: 10px;
        border: 1px solid black;
        font-size: 15px;
        margin: 10px;
    }

    aside {
        display: none;
    }

}