main {
    display: flex;
    flex-wrap: wrap;
}

.article.article--lg img {
    max-width: 130px;
}


aside li img {
    width: 120px;
}


aside {
    background: #eeeeee;
    margin: 10px;
}

section {
    flex: 1;
    margin: 10px;
    background-color: #eeeeee;
    
}

.article__list {
    display: flex;
    flex-wrap: wrap;
}

.article {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}


.article img {
    float: left;
    margin-right: 10px;
}


.article.article--lg {
    flex-grow: 1;
}


.aside__inner {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

aside {
    width: 300px;
    padding: 20px;
}

.aside__inner ul {
    list-style-type: none;
    padding: 0;
}

.aside__inner ul li {
    margin: 35px 0 10px;
    display: flex;
    align-items: center;
}


.aside__inner ul li a {
    margin-left: 5px;
}

h1 {
    text-align: center;
}

aside h3 {
    text-align: center;
}

.article a {
    text-align: right;
    width: 100%;
    display: block;
}
button {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    background-color: ivory;
    font-weight: 900;
    font-size: medium;
    font-family: fantasy;
    margin: auto;
    display: block;
}

p.il {
    display: inline-block;
    margin: 15px;
    background-color: #008aff;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
}

.article h3 {
    text-align: center;
}

.pages {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    padding: 0px;
    background-color: white;
    flex-wrap: wrap;
    }
   
   @media screen and (max-width: 1030px) {
    aside {
        display: none;
    }

    body {
    margin: 0;
}

section {
    margin: 0;
}

.article {
    width: 100%;
    text-align: center;
}
.article img {
    float: none;
    width: 100%;
    border-radius: 10px;
    max-width: 500px !important;

}
}
